<body [ngClass]="theme == 'first'? 'body' : theme == 'second' ? 'body1' : 'body2' ">
  <nav class="navbar navbar-expand-lg" [ngClass]="theme == 'first'? 'nav1' : theme == 'second' ? 'nav2' : 'nav3' ">
    <a class="navbar-brand" [ngClass]="theme == 'first'? 'logo' : theme == 'second' ? 'logo1' : 'logo2' " href="#">Chalchitra</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a [ngClass]="theme == 'first'? 'nav-link' : theme == 'second' ? 'nav-link1' : 'nav-link2' " (click)="goToMovies()">Top Rated Movies</a>
        </li>
        <li class="nav-item active">
          <a [ngClass]="theme == 'first'? 'nav-link' : theme == 'second' ? 'nav-link1' : 'nav-link2' " (click)="goToShows()">Top Rated Shows</a>
        </li>
      </ul>
      <select id="themeDropdown"  [ngClass]="theme == 'first'? 'txt' : theme == 'second' ? 'txt1' : 'txt2' " (click)="changeTheme($event.target.value)" class="btn ">
        <option value=""  [ngClass]="theme == 'first'? 'txt' : theme == 'second' ? 'txt1' : 'txt2' " disabled>Choose a theme</option>
        <option value="Light" [ngClass]="theme == 'first'? 'txt' : theme == 'second' ? 'txt1' : 'txt2' ">Light</option>
        <option value="Dark" [ngClass]="theme == 'first'? 'txt' : theme == 'second' ? 'txt1' : 'txt2' ">Dark</option>
        <option value="Daark" [ngClass]="theme == 'first'? 'txt' : theme == 'second' ? 'txt1' : 'txt2' ">Daaaark</option>
     </select>
    
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
   </div>
  
 
  
  
</body>