<body [ngClass]="theme == 'first'? 'body' : theme == 'second' ? 'body1' : 'body2' ">
    <h3 [ngClass]="theme == 'first'? 'txt' : theme == 'second' ? 'txt1' : 'txt2' ">Popular shows</h3>
    <div class="flex-container" [ngClass]="theme == 'first'? 'body' : theme == 'second' ? 'body1' : 'body2' ">
        <div *ngFor="let i of data.results">
            <div [ngClass]="theme == 'first'? 'card' : theme == 'second' ? 'card1' : 'card2' ">
                <img src="https://image.tmdb.org/t/p/original/{{i.poster_path}}" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h5><b>{{i.name}}</b></h5>
                        <small><b>Rating: {{i.vote_average}}</b></small>
                    </div>
            </div>
        </div>
    </div>
</body>

