

  .flex-container1 {
    display: flex;
    justify-content: center;
  }
  
  .but{
    background-color: #05386B;
    /* color: #5cdb95; */
    color: white;
  }

  .but1{
    background-color: #D9B310;
    color: #1D2731;
  }

  .but2{
    background-color: gray;
    color: black;
  }
  

 
  
    img{
        width: 16rem;
        height: 20rem;
    }
    
    
    
    /* Add some padding inside the card container */
    .container {
      padding: 2px 4px;
    }
  
  

  
  